/*==== COLORS FOR REFERENCE ONLY ===*/

/* Report Viewer is not accepting css variables. This file is used as a color reference during developerment */
:root {
  --table-border: #a3a3a3;
  --table-border-light: #dadada;
  --category-circle-icon-0: grey;
  --category-circle-icon-1: grey;
  --category-circle-icon-2: grey;
  --category-circle-icon-3: grey;
  --category-circle-icon-4: grey;
  --category-circle-icon-5: grey;
  --category-circle-icon-6: grey;
  --green-1: #54c53c;
  --green-2: #21a235;
  --green-3: #9cd353;
  --green-4: #125131;
  --green-5: #e7f4b8;
  --green-6: #36ba39;
  --green-7: #78cb42;
  --green-8: #167633;
  --green-9: #c2e576;
  --green-10: #081f1c;
  --blue-1: #308bc4;
  --blue-2: #1f4cab;
  --blue-3: #51c7d2;
  --blue-4: #1c1880;
  --blue-5: #b8f0e5;
  --blue-6: #266aba;
  --blue-7: #3dabcb;
  --blue-8: #1d2d96;
  --blue-9: #51c7d2;
  --blue-10: #0e003c;
}