/*==== GENERAL STYLING ===*/

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  margin: 0 20px;
}

td, th {
  border: none;
}

caption {
  padding-bottom: 0;
}

/*==== STYLING FOR COUPON BREAKDOWN DONUT CHART AND TABLE ===*/
#coupon-breakdown-section-chart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#coupon-breakdown-section-chart #container {
  width: auto;
}

/* Removes highcharts.com */
.highcharts-credits {
  display: none;
}

/* Change table title to 'Coupon Breakdown' */
#coupon-breakdown-highcharts-data-table caption {
  visibility: hidden;
  caption-side: top;
}
#coupon-breakdown-highcharts-data-table caption::before {
  visibility: visible;
  content: "COUPON BREAKDOWN";
  font-weight: bold;
  font-size: 20px;
  color: black;
}

/* Adjust Coupon Breakdown Table Spacing Around */
#coupon-breakdown-highcharts-data-table {
  width: 45%;
}
#coupon-breakdown-highcharts-data-table #highcharts-data-table-0 {
  width: 100%;
}

#coupon-breakdown-highcharts-data-table {
  margin-left: 20px;
}

#coupon-breakdown-highcharts-data-table tr {
  border-top: 1px solid #a3a3a3;
}

#coupon-breakdown-highcharts-data-table th,
#coupon-breakdown-highcharts-data-table td {
  padding: 4px;
}

th.text {
  font-weight: 100;
}

/* Update Coupon Breakdown table headers */
#coupon-breakdown-highcharts-data-table thead tr th {
  visibility: hidden;
  position: relative;
}
#coupon-breakdown-highcharts-data-table thead tr th:nth-child(1)::before {
  visibility: visible;
  position: absolute;
  content: "Current Allocation";
}
#coupon-breakdown-highcharts-data-table thead tr th:nth-child(2)::before {
  visibility: visible;
  position: absolute;
  content: "Portfolio";
  right: 0;
}

/* Add bold border to table header */
#coupon-breakdown-highcharts-data-table thead tr {
  border-bottom: 2px solid #a3a3a3;
}

/* Coupon Breakdown table data alignment */
#coupon-breakdown-highcharts-data-table tr:nth-child(1) th:nth-child(2) {
  text-align: right;
}
#coupon-breakdown-highcharts-data-table tr td {
  text-align: right;
}

/* Adds circle symbol next to category items */
#coupon-breakdown-highcharts-data-table tbody tr th::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: grey;
  margin-right: 10px;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(1) th::before {
  background-color: #54c53c;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(2) th::before {
  background-color: #21a235;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(3) th::before {
  background-color: #9CD353;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(4) th::before {
  background-color: #125131;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(5) th::before {
  background-color: #e7f4b8;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(6) th::before {
  background-color: #36ba39;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(7) th::before {
  background-color: #78cb42;
}


/*==== STYLING FOR SECURITIES TABLE ===*/
#securities-table-title {
  caption-side: top;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.securities-table .data {
  border-top: 1px solid #a3a3a3;
}

#header-categories {
  border-bottom: 2px solid #a3a3a3;
}

.securities-table th,
.securities-table td {
  padding: 4px;
  border-right: 1px dashed #dadada;
}

#header-categories th:nth-child(1),
#header-categories th:nth-child(2),
.data td:nth-child(1),
.data td:nth-child(2),
#portfolio-weights-data td:nth-child(1),
#portfolio-weights-data td:nth-child(2) {
  border-right: none;
}

#header-categories th {
  font-weight: normal;
}

.data,
#header-categories,
#portfolio-weights-data {
  text-align: right;
}

#header-categories th:nth-child(1),
#header-categories th:nth-child(2),
.data td:nth-child(1),
.data td:nth-child(2),
#portfolio-weights-data td:nth-child(1),
#portfolio-weights-data td:nth-child(2) {
  text-align: left;
}

#portfolio-weights-data {
  border-top: 1px solid #a3a3a3;
}

#portfolio-weights-data td:first-child {
  font-weight: bold;
}


/* ==================== */
/*==== PRINT STYLING ===*/
/* ==================== */

@media print {
  /* When applying 'container' class from bootstrap */
  .container {
    width: 100% !important;
    max-width: none !important;
  }

  body {
    padding-right: 10px;
    padding-left: 10px;
  }

  #coupon-breakdown-section-chart .highcharts-container,
  #coupon-breakdown-section-chart .highcharts-root {
    width: 225px !important;
    height: 225px !important;
  }

  #coupon-breakdown-highcharts-data-table {
    font-size: 12px;
  }

  #coupon-breakdown-highcharts-data-table caption::before {
    font-size: 14px;
  }

  #coupon-breakdown-highcharts-data-table th,
  #coupon-breakdown-highcharts-data-table td {
    padding: 2px;
  }

  #coupon-breakdown-highcharts-data-table tbody tr th::before {
    width: 7px;
    height: 7px;
  }

  #securities-table {
    font-size: 12px;
  }

  #securities-table-title {
    font-size: 14px;
  }

  .securities-table th,
  .securities-table td {
    padding: 2px;
  }  
}