/*==== GENERAL STYLING ===*/
:root {
  /* 
  Default color variables for page. 
  The number of circle icon variables can be adjusted based on the number of data points.
  */
  --table-border: #a3a3a3;
  --category-circle-icon-0: grey;
  --category-circle-icon-1: grey;
  --category-circle-icon-2: grey;
  --category-circle-icon-3: grey;
  --category-circle-icon-4: grey;
  --category-circle-icon-5: grey;
  --category-circle-icon-6: grey;

}

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}


/*==== STYLING FOR COUPON BREAKDOWN DONUT CHART AND TABLE ===*/
#coupon-breakdown-section-chart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#coupon-breakdown-section-chart #container {
  width: auto;
}

/* Removes highcharts.com */
.highcharts-credits {
  display: none;
}

/* Change table title to 'Coupon Breakdown' */
#coupon-breakdown-highcharts-data-table caption {
  visibility: hidden;
  caption-side: top;
  margin: 5px 0px;
}
#coupon-breakdown-highcharts-data-table caption::before {
  visibility: visible;
  content: "COUPON BREAKDOWN";
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#coupon-breakdown-highcharts-data-table {
  margin-left: 50px;
}

#coupon-breakdown-highcharts-data-table tr {
  margin-left: 50px;
  border-top: 1px solid var(--table-border);
}

#coupon-breakdown-highcharts-data-table th,
#coupon-breakdown-highcharts-data-table td {
  padding: 2.5px;
}

th.text {
  font-weight: 100;
}

/* Update Coupon Breakdown table headers */
#coupon-breakdown-highcharts-data-table thead tr th {
  visibility: hidden;
  position: relative;
}
#coupon-breakdown-highcharts-data-table thead tr th:nth-child(1)::before {
  visibility: visible;
  position: absolute;
  content: "Current Allocation";
}
#coupon-breakdown-highcharts-data-table thead tr th:nth-child(2)::before {
  visibility: visible;
  position: absolute;
  content: "Portfolio";
  right: 0;
}

/* Coupon Breakdown table data alignment */
#coupon-breakdown-highcharts-data-table th {
  width: 140px;
}
#coupon-breakdown-highcharts-data-table tr:nth-child(1) th:nth-child(2) {
  text-align: right;
}
#coupon-breakdown-highcharts-data-table tr td {
  text-align: right;
}

/* Adds circle symbol next to category items */
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(1) th::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--category-circle-icon-0);
  margin-right: 10px;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(2) th::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--category-circle-icon-1);
  margin-right: 10px;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(3) th::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--category-circle-icon-2);
  margin-right: 10px;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(4) th::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--category-circle-icon-3);
  margin-right: 10px;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(5) th::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--category-circle-icon-4);
  margin-right: 10px;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(6) th::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--category-circle-icon-5);
  margin-right: 10px;
}
#coupon-breakdown-highcharts-data-table tbody tr:nth-child(7) th::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--category-circle-icon-6);
  margin-right: 10px;
}


/*==== STYLING FOR SECURITIES TABLE ===*/
#securities-table-title {
  caption-side: top;
  font-size: 20px;
  color: black;
  margin: 5px 0px;
}

#securities-table .data {
  border-top: 1px solid var(--table-border);
}

#securities-table th,
#securities-table td {
  padding: 5px;
  border-right: 1px dashed var(--table-border);
}

#portfolio-weights-data td:nth-child(1),
#portfolio-weights-data td:nth-child(2) {
  border-right: none;
}

#header-categories th {
  font-weight: normal;
}

.data,
#header-categories,
#portfolio-weights-data {
  text-align: right;
}


#header-categories th:nth-child(1),
#header-categories th:nth-child(2),
.data td:nth-child(1),
.data td:nth-child(2),
#portfolio-weights-data td:nth-child(1),
#portfolio-weights-data td:nth-child(2) {
  text-align: left;
}

#portfolio-weights-data {
  border-top: 1px solid var(--table-border);
}

#portfolio-weights-data td:first-child {
  font-weight: bold;
}

/*==== COLORS FOR REFERENCE ONLY ===*/
:root {
--green-1: #081F1C;
--green-2: #125131;
--green-3: #167633;
--green-4: #21A235;
--green-5: #36BA39;
--green-6: #54C53C;
--green-7: #78CB42;
--green-8: #9CD353;
--green-9: #C2E576;
--green-10: #E7F4B8;
--blue-1: #0E003C;
--blue-2: #1c1880;
--blue-3: #1d2d96;
--blue-4: #1f4cab;
--blue-5: #1f4cab;
--blue-6: #308bc4;
--blue-7: #3dabcb;
--blue-8: #3dabcb;
--blue-9: #7ddcdc;
--blue-10: #7ddcdc;
}
